{% extends 'base.html' %}


    {% block header %}
        <header class="header--form-page">

            {% include 'sharing_portal/templates/static_html/navigation' %}

          <div class="slogan container container--90">
              <h2>
                Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
                informacje o odbiorze.
              </h2>
          </div>
        </header>
    {% endblock %}

    {% block js %}
        <script src='{% static "js/app.js" %}'></script>
    {% endblock %}
